<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Inventory</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <meta charset="UTF-8">
</head>
<body>
    <button onclick="location.href='../'" type="button">
        Back to Homepage</button>
    <button onclick="location.href='inventory/update'" type="button">
        Update</button>
    <div>
        <h2> Inventory </h2>
        <table>
            <thead>
            <tr>
                <th> ID </th>
                <th> Name </th>
                <th> Items </th>
            </tr>
            </thead>
            <tbody>
                <tr th:if="${inventory.empty}">
                    <td colspan="3"> Inventory Empty </td>
                </tr>
                <tr th:each="inv : ${inventory}">
                    <td><span th:text="${inv.id}"> Id </span></td>
                    <td><span th:text="${inv.name}"> Name </span></td>
                    <td><span th:text="${inv.items}"> Items </span></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h2> New Inventory: </h2>
        <form action="#" th:action="@{/inventory}" th:object="${newInventory}" method="post">
            <p>
                Name: <input type="text" th:field="*{name}">
                <span class="validationError"
                      th:if="${#fields.hasErrors('name')}"
                      th:errors="*{name}">Name Error</span>
                <br/>
            </p>
            <div th:if="${#fields.hasErrors()}">
                <span class="validationError">
                    Please correct the problems above and resubmit.
                </span>
            </div>
            <p>
                <input type="submit" value="Submit"/> <input type="reset" value="Reset">
            </p>
        </form>
    </div>
</body>
</html>