<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Inventory Update</title>
</head>
<body>
    <button onclick="location.href='../'" type="button">
        Back to Homepage</button>
    <button onclick="location.href='../inventory'" type="button">
        Back to Inventory</button>

    <div>
        <h2> Inventory </h2>
        <form action="#" th:action="@{/inventory/update}" th:object="${form}"
              method="post">
            <fieldset>
                <input type="submit" id="submitButton" th:value="Save">
                <table>
                    <thead>
                    <tr>
                        <th> Id </th>
                        <th> Name </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="inventory, itemStat : ${form.inventories}">
                        <td>
                            <input hidden th:name="|inventories[${itemStat.index}].id|" th:value="${inventory.getId()}"/>
                        </td>
                        <td>
                            <input th:name="|inventories[${itemStat.index}].name|" th:value="${inventory.getName()}"/>
                        </td>
                        <td>
                            <input th:name="|inventories[${itemStat.index}].items|" th:value="${inventory.getItems()}"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </fieldset>
        </form>
    </div>

</body>
</html>