<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Inventory</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <meta charset="UTF-8">
</head>
<body>
    <button onclick="location.href='/inventory/all'" type="button">
        Back to Inventory</button>

    <div>
        <h2> Inventory Items of
            <span th:text="${inventoryToEdit.name}"> Inventory Name </span>
        </h2>
        <form action="#" th:action="@{/inventory/edit/{id}(id=${inventoryToEdit.id})}" th:object="${inventoryToEdit}"
              method="post">
            <!-- Fields to ensure that inventory attributes are saved in form submission -->
            <input hidden th:field="*{id}" th:value="${inventoryToEdit.getId()}"/>
            <input hidden th:field="*{name}" th:value="${inventoryToEdit.getName()}"/>
            <fieldset>
                <input type="submit" id="submitButton" th:value="Save">
                <table>
                    <thead>
                    <tr>
                        <th> ID </th>
                        <th> Name </th>
                        <th> Description </th>
                        <th> Quantity </th>
                        <th> Price ($) </th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item, itemStat : ${inventoryToEdit.items}">
                            <form th:action="@{/inventory/edit/{id}/delete(id=${inventoryToEdit.id})}"
                                  th:object="${item}" method="post">
                            <td>
                                <span th:text="${item.id}"> Id </span>
                                <input hidden th:name="|items[${itemStat.index}].id|" th:value="${item.getId()}"/>
                            </td>
                            <td>
                                <input th:name="|items[${itemStat.index}].name|" th:value="${item.getName()}"/>
                            </td>
                            <td>
                                <input th:name="|items[${itemStat.index}].description|" th:value="${item.getDescription()}"/>
                            </td>
                            <td>
                                <input th:name="|items[${itemStat.index}].quantity|" th:value="${item.getQuantity()}"/>
                            </td>
                            <td>
                                <input th:name="|items[${itemStat.index}].price|" th:value="${item.getPrice()}"/>
                            </td>
                            <td>
                                <button type="submit" onClick="return confirm('Confirmation to delete this item?')">
                                    Delete
                                </button>
                            </td>
                            </form>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </form>
    </div>
    <div>
        <h2> New Item: </h2>
        <form action="#" th:action="@{/inventory/edit/{id}/new(id=${inventoryToEdit.id})}" th:object="${newItem}" method="post">
            <p>
                Name: <input type="text" th:field="*{name}">
                <span class="validationError"
                      th:if="${#fields.hasErrors('name')}"
                      th:errors="*{name}">Name Error</span>
                <br/>
            </p>
            <p>
                Description: <input type="text" th:field="*{description}">
                <span class="validationError"
                      th:if="${#fields.hasErrors('name')}"
                      th:errors="*{description}">Name Error</span>
                <br/>
            </p>
            <p>
                Quantity: <input type="text" th:field="*{quantity}">
                <span class="validationError"
                      th:if="${#fields.hasErrors('quantity')}"
                      th:errors="*{description}">Quantity Error</span>
                <br/>
            </p>
            <p>
                Price: <input type="text" th:field="*{price}">
                <span class="validationError"
                      th:if="${#fields.hasErrors('price')}"
                      th:errors="*{description}">Price Error</span>
                <br/>
            </p>
            <div th:if="${#fields.hasErrors()}">
                <span class="validationError">
                    Please correct the problems above and resubmit.
                </span>
            </div>
            <p>
                <input type="submit" value="Submit"/> <input type="reset" value="Reset">
            </p>
        </form>
    </div>
</body>
</html>